@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}
/* 
.App .openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
} */

.img_container{
    margin: 5px;
    border: 3px solid #ccc;
    border-radius: 50px 50px 50px 50px;
    width: 50%;
}

.img_container:hover{
    border: 3px solid #777;
}

.img_container > img {
    width: 100%;
    height: auto;
    border-radius: 43px;
    cursor: pointer;
}

body{
    padding: 0;
    margin: 0;
}